doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
        title #{pageTitle} | Youtube 
    body
        nav
            ul
                li 
                    a(href="/") Home
            ul 
                li 
                    a(href="/login") Login
            ul 
                li 
                    a(href="") Logout
            ul 
                li 
                    a(href="/users/profile") Profile 
            ul
                li 
                    a(href="/videos/upload") Upload



        main
            header
                h1=pageTitle
            block content
