extends base
include mixins/video.pug
block content
    h1 Your Profile
    h2 username: #{user.username}
    h2  name: #{user.name}
    h2 email: #{user.email}
    each video in videos 
        +video(video)
    else 
        span no videos
    hr
    a(href="editProfile") Edit profile &rarr;
