extends base
include mixins/video.pug
block content
    h2 Your Avatar
    img(src="/" + user.avatarUrl)
    h2 username: #{user.username}
    h2  name: #{user.name}
    h2 email: #{user.email}
    h2 Your Videos

    each video in videos 
        +video(video)
    else 
        h2 no video Uploaded
    
    div
        a(href="editProfile") Edit profile &rarr;
